---
import LayoutAdmin from "@/layout/LayoutAdmin.astro";
import CommonTable from "@/components/common/table/CommonTable.vue";
---

<LayoutAdmin>
  Makk
  <div>
    <CommonTable client:load />
  </div>
</LayoutAdmin>
